* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url('./assets/levi-bare-5__JKMn5H_c-unsplash.jpg');
  background-size: cover;
  /* background-color:#e5c8bd; */
  color: white;
  font-size: 16px;
  font-weight: normal;
  font-family: sans-serif;
}
img{
  width: 60px;
  height: auto;
}

.m-bottom-50 {
  margin-bottom: 15px;
}

.container, .w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.j-space-around {
  justify-content: space-around;
}

.ali-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.t-center {
  text-align: center;
}

.j-between {
  justify-content: space-between;
}

.j-evenly {
  justify-content: space-evenly;
}

.w-90 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.w-50 {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

input, button {
  max-width: 200px;
  height: 35px;
  padding: 5px 10px 5px 10px;
  font-size: 1em;
  margin: 5px 5px 5px 5px;
  border-style: none;
}

button {
  background-color: rgb(241, 81, 7);
  cursor: pointer;
}

button:hover {
  color: white;
}

button:active {
  background-color: rgb(11, 211, 11);
  color: white;
}

nav {
  background-color: #fff0ff2a;
  min-height: 10vh;
  align-items: center;
}
.border-n-p{
  padding: 10px;
  border-radius: 10px;
}

.bg {
  background-color: #363f54dc;
}
.bg-blue{
  background-color: rgb(1, 1, 151);
}
.bg-pink{
  background-color:  rgb(57, 0, 150);
}
.bg-yellow{
  background-color: rgb(228, 228, 2);
  color:rgb(57, 0, 150);
}
.bg-another{
  background-color: rgb(0, 181, 253);
  color: rgb(1, 1, 151);
}

.icon-header {
  height: auto;
}
.container-section{
  min-height: 60vh;
}

.main {
  height: auto;
}
table, th, td {
  border-collapse: collapse;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(175, 172, 172);
  width: auto;
  text-transform: capitalize;
}
.table-div{
  margin:20px 0 20px 0;
}
table {
  width: 100%;
  max-width: 500px;
  
}
footer {
  min-height: 10vh;
  background-color: rgb(57, 0, 150);
  margin-bottom: 0;
}
h1{
  font-size: 2.5em;
  color: #ffd700;
}
h2{
  font-size: 1.5em;
  /* color: gold; */
}
span{
  margin-left: 0.5em;
  text-align: center;
  vertical-align: middle;
}
.t-capitalise{
  text-transform: capitalize;
}

@media screen and (min-width:746px) {
  .m-col {
    flex-direction: column;
  }
  .m-row {
    flex-direction: row;
  }
  input {
    max-width: 300px;
  }
  input[type='submit'] {
    margin-right: auto;
  }
  input[type='submit'] {
    margin-right: 5px;
  }
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
}